body {
    font-family: 'Open Sans', sans-serif;;
    background-color: #f4f4f4;
}

/* footer and header*/
header, footer {
    background-color: #000080; 
    color: #fff;
    text-align: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: normal;
    margin-left: -20px;
}

#titledescription {
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 8px;
}

nav  {
    display: grid;
    grid-template-rows: 0fr; 
    transition: grid-template-rows 0.5s ease-out; 
}

nav ul {
    overflow: hidden;
    list-style-type: none;
}

nav.open {
	grid-template-rows: 1fr;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    
}

nav a:hover {
    text-decoration: underline; 
}

.active {
    color: #F39C12;
}

#menu {
	font-size: 2rem;
	border: 0;
	background: none;
	color: #fff;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

footer {
    margin-top: 20px;
    padding: 15px;
}

footer p {
    margin: 5px;
    font-size: 14px;
    color: #fff;
}

#icons{
    margin: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#icons img{
    margin-right: 20px;
}

/*others*/

h2{
    font-family: 'Roboto', sans-serif;
    background-color: #F39C12;
    border-radius: 8px;
    text-align: center;
    font-weight: normal;
    padding: 10px;
}

.calculator {
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    width: 300px;
    animation: slidein 2s forwards;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

select, input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.calculator button {
    background-color: #f4b34b;
    border: none;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.calculator button:hover {
    background-color: #F39C12;
}

.content {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;

}

#times {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    width: 300px;
}

@keyframes slidein {
    from {
      transform: translateY(-100%);
    }
  
    to {
      transform: translateY(0);
    }
  }




@media only screen and (min-width: 54rem) {

    main {
        max-width: 75rem;
    }
    header, nav, main, footer {
        margin:auto;
    }

    nav ul {
		display: flex;
	}

	nav ul li {
		flex: 1 1 100%;
	}
    #menu {
		display: none; 
	}

    header, footer{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    #titledescription {
        margin-left: 150px;
    }

    nav {
        grid-template-rows: 1fr;
        margin-right: 50px;
    }

    h1{
        margin: auto;
    }

    /*others*/
  
}