body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

}

header {
    background-color: #0c521b;
    color: #fff;
}


header img {
    margin-right: 10px;
    width: 70px;
    height: auto;
    border-radius: 5%;
}

#headtitle {
    margin-left: 25px;;
    font-size: 45px; 
}

#titledescription {
   display: flex;
   align-items: center;
    justify-content: center;
  
}

nav ul {
    margin: 0;
    list-style-type: none;
    display: none;
    
}

nav ul.open {
	display: flex; 
	flex-direction: column;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline; 
}

.active {
    color: yellow;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #fff;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

footer {
    padding: 15px;
    background-color: #0c521b;
    color: #fff;
}

footer p {
    margin: 5px;
    font-size: 14px;
    color: #fff;
}

#icons img{
    margin-right: 20px;
    width: 40px;
}




.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #bed;
	text-align: center;
}

.menu button {
	padding: 1rem;
	font-weight: 700;
}

section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #eee;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 15px;
    place-items: center;
	align-items: center;
}

.grid section {
    width: 350px;
    height: 250px;
	text-align: center; 
}

.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.grid .hidep {
    display: none;
}

.grid p {
    max-width: 100%;
}
.grid section > * {
	margin: 0.1rem;
}


.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 1rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
	background-color: #bed;
}

section h3 {
	font-size: 1.5rem;
}

section p {
	font-weight: 600;
	font-size: smaller;
}

section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.85rem;
	color: navy;
	letter-spacing: 1.1pt;
}

.grid img {
	height: 100px;
	width: auto; /* Images are jerks - Seattle*/
}


@media screen and (min-width: 640px) {

    header, nav, main, footer {
        max-width: 90%;
        margin:auto;
    }
    footer{
        margin-top: 20px; 
    }
    nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
    #menu {
		display: none; 
	}

    header, footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer div{
        margin: auto;
    }

}