body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

}

header {
    background-color: #0c521b;
    color: #fff;
}


header img {
    margin-right: 10px;
    width: 70px;
    height: 82px;
    border-radius: 5%;
}

#headtitle {
    margin-left: 25px;;
    font-size: 45px; 
}

h1 {
    font-family: "Ubuntu", sans-serif;;
    text-align: center;
    font-weight: normal;
}

#titledescription {
    margin-left: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav  {
    display: grid;
    grid-template-rows: 0fr; 
    transition: grid-template-rows 0.5s ease-out; 
}

nav ul {
    overflow: hidden;
    list-style-type: none;
}

nav.open {
	grid-template-rows: 1fr;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    
}

nav a:hover {
    text-decoration: underline; 
}

.active {
    color: rgb(251, 238, 101);
}

#menu {
	font-size: 2rem;
	border: 0;
	background: none;
	color: #fff;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

footer {
    margin-top: 20px;
    padding: 15px;
    background-color: #0c521b;
    color: #fff;
}

footer p {
    margin: 5px;
    font-size: 14px;
    color: #fff;
}

#icons{
    margin: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#icons img{
    margin-right: 20px;
    width: 40px;
    height: 40px;
}

.menu {
	margin: 1rem auto;
	padding: 0.5rem;
	text-align: center;
}

#grid, #list{
    border-radius: 10%;
    border: 3px solid #0c521b;
    color: #0c521b;
    margin-left: 20px;
}

.menu button {
	padding: 1rem;
	font-weight: 700;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 15px;
    place-items: center;
	align-items: center;
}

.grid section {
    padding: 0.5rem;
    width: 350px;
    height: 200px;
	text-align: center; 
    background-color: #ffffff;
    border: 1px solid #fff;
	box-shadow: 0 0 5px #333;
}


.grid .hidep {
    display: none;
}

.grid p {
    max-width: 100%;
}

.grid section > * {
	margin: 0.1rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section {
    padding: 10px;
}

.list section img {
	display: none; 
}

.list section:nth-child(even) {
	background-color: rgb(182, 208, 183);
}

section p {
	font-weight: 600;
	font-size: smaller;
}

section a {
	font-family: Arial, sans-serif;
	font-size: 0.85rem;
	color: navy;
}

.grid img {
	height: 100px;
	width: auto; 
}

#semicircle {
    font-size: 3rem;
	border: 0;
	background: none;
	color: #fff;
	position: absolute;
	top: 1.5rem;
	right: 3rem;
}


@media screen and (min-width: 640px) {

    header, nav, main, footer {
        margin:auto;
    }

    nav ul {
		display: flex;
	}

	nav ul li {
		flex: 1 1 100%;
	}
    #menu {
		display: none; 
	}

    header, footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #titledescription {
        margin-left: 150px;
    }

    nav {
        grid-template-rows: 1fr;
        margin-right: 150px;
    }

    footer div{
        margin: auto;
    }

    .grid {
        margin: 10px 100px 10px 100px;
    }

    .list {
        display: flex;
        flex-direction: column;
    }
    
    .list section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr;
        margin: 0;
        padding: 1rem;
    }
}